{% extends 'base.html' %}

{% load static %}

{% block content %}

   <header id="header-home">
       <div class="container">
           <nav id="main-nav">
               <!-- <img src="/Portfolio_Website/static/img/logo.png" alt="Logo" id="logo"> -->
               <!-- <img src="/Portfolio_Website/static/img/self-logo.png" alt="Logo" id="logo"> -->
               <!-- <img src="/Portfolio_Website/static/img/self-logo-t1.png" alt="Logo" id="logo"> -->
               <a href="#">
               <img src="{% static 'img/self-logo-t1.png' %}" alt="Logo" id="logo">
               <!-- <h1 id="logo">
                   hbp
               </h1> -->
               </a>
               <ul>
                   <li><a href="index.html" class="current">Home</a></li>
                   <li><a href="about.html">About</a></li>
                   <li><a href="work.html">Work</a></li>
                   <li><a href="Contact.html">Contact</a></li>
               </ul>
           </nav>
           <div class="header-content">
               <h1>
                   I Am Hariharan <span class="txt-type" data-wait="1500" data-words='["Full Stack Web Developer", "Freelancer"]' ></span>
               </h1>
               <p class="lead">Python(Django)/occasional use of C/C++/PHP. Have a look at my work</p>
               <a href="work.html" class="btn-light font-medium-weight">My Work</a>
           </div>
       </div>
   </header>

{% endblock %}
