<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet" />
    <link rel="stylesheet" href="/Portfolio_Website/static/css/main.css" />
    <title>Hariharan B P | Full Stack Web Developer</title>
</head>

<body>
   <header id="header-home">
       <div class="container">
           <nav id="main-nav">
               <!-- <img src="/Portfolio_Website/static/img/logo.png" alt="Logo" id="logo"> -->
               <!-- <img src="/Portfolio_Website/static/img/self-logo.png" alt="Logo" id="logo"> -->
               <h1 id="logo">
                   hbp
               </h1>
               <ul>
                   <li><a href="index.html" class="current">Home</a></li>
                   <li><a href="about.html">About</a></li>
                   <li><a href="work.html">Work</a></li>
                   <li><a href="Contact.html">Contact</a></li>
               </ul>
           </nav>
           <div class="header-content">
               <h1>
                   I Am Hariharan The <span class="txt-type" data-wait="3000" data-words='["Full Stack Web Developer", "Freelancer"]' ></span>
               </h1>
               <p class="lead">I specialize in Python(Django) and occasional use of C/C++ . Have a look at my work</p>
               <a href="work.html" class="btn-light">My Work</a>
           </div>
       </div>
   </header>
</body>

</html>