{% extends 'base.html' %}

{% load static %}

{% block title %}
    HARIHARAN B P
{% endblock %}


{% block content %}

   <header id="header-home"> 
        <div class="container"> 
           <!-- Navbar -->
           <nav id="main-nav">
               <a href="{% url 'home' %}">
               <img src="{% static 'img/self-logo-t1.png' %}" alt="Logo" id="logo">
               </a>
               <ul>
                   <li><a href="{% url 'home' %}" class="current">Home</a></li>
                   <li><a href="{% url 'about' %}">About</a></li>
                   <li><a href="{% url 'work' %}">Work</a></li>
                   <li><a href="{% url 'contact' %}">Contact</a></li>
               </ul>
           </nav>
           {% include 'partials/_alerts.html' %}
           <div class="header-content">
                {% for user in users %}
                    <h1>
                        I Am {{ user.name }} <span class="txt-type" data-wait="2500" data-words='["Full Stack Web Developer", "Freelancer"]' ></span>
                    </h1>
                {% endfor %}
               <p class="lead">Specialized Python(Django)/occasional use of C/C++/PHP. Have a look at my work</p>
               <a href="{% url 'work' %}" class="btn-light font-medium-weight">My Work</a>
           </div>
       </div>
   </header>

   <!-- Section A: Specialize -->
   <section id="home-a" class="text-center py-2">
       <div class="container">
           <h2 class="section-title">
               I Specialize In 
           </h2>
           <div class="bottom-line"></div>
        </div>
        <p class="lead">
            Specialized Python(Django)/occasional use of C/C++/PHP/JavaScript/Web Developer
        </p>
        <div class="specials">
            <div>
                <i class="fas fa-file-alt fa-2x"></i>
                <h3>
                    Concepting
                </h3>
                <p>
                    I learn new technologies ot framework by having a good understanding of the concept evolving behind it. 
                </p>
            </div>
            <div>
                <i class="fas fa-desktop fa-2x"></i>
                <h3>
                    Web Developer
                </h3>
                <p>
                    My passion towards Web Development is huge. I spent a free time thinking of new features to implement to the projects I made.
                </p>
            </div>
            <div>
                <i class="fab fa-python fa-2x"></i>
                <h3>
                    Python
                </h3>
                <p>
                    Python is the new found to add to my framework knowledge and learn every day so as to stay up-to-date with the technologies.
                </p>
            </div>
            <div>
                <i class="fas fa-thumbs-up fa-2x"></i>
                <h3>
                    Interaction
                </h3>
                <p>
                    You can expect a good and well mannered group or 1-to-1 Interaction for the Project.
                </p>
            </div>
        </div>
   </section>

   <!-- Section B: Stats -->
   <section id="home-b" class="text-center py-2">
       <div class="stats">
           <div>
               <i class="fas fa-code-branch fa-3x">
                   <ul>
                        <li class="stats-title">
                            Project Completed
                        </li>
                        <li class="stats-number">
                            6
                        </li>
                   </ul>
               </i>
            </div>
   </section>

   <!-- Section C: Process -->

   <section id="home-c" class="text-center py-2">
       <div class="container">
           <h2 class="process-title">
               My Creative Process
           </h2>
           <div class="bottom-line"></div>
           <p class="lead">
               All of my websites and projects are based off of a practicl formula to get the result that Iam looking for
           </p>
           <div class="process">
               <div>
                   <i class="fas fa-file-alt fa-4x process-icon my-2">
                       <div class="process-step">
                           1
                       </div>
                   </i>
                   <h3>
                       Discuss the Project
                   </h3>
                   <p>
                       We can have a clear-cut requirements laid out for the project before we start building the project.
                   </p>
               </div>
               
               <!-- <div>
                   <i class="fas fa-desktop fa-4x process-icon my-2">
                       <div class="process-step">
                           2
                       </div>
                   </i>
                   <h3>
                       Brainstroming & Concept
                   </h3>
                   <p>
                       
                   </p>
               </div> -->

               <div>
                   <i class="fas fa-object-ungroup fa-4x process-icon my-2">
                       <div class="process-step">
                           2
                       </div>
                   </i>
                   <h3>
                       Project Planning
                   </h3>
                   <p>
                       Project requirements will be analyzed completely and planning will be done based on that.
                   </p>
               </div>

               <div>
                   <i class="fas fa-thumbs-up fa-4x process-icon my-2">
                       <div class="process-step">
                           3
                       </div>
                   </i>
                   <h3>
                       Interaction
                   </h3>
                   <p>
                       Weekly sync with the clients and project members to ensure we are on same track
                   </p>
               </div>

           </div>
       </div>
   </section>

{% endblock %}
