{% extends 'base.html' %}

{% load static %}

{% block title %}
    My Work
{% endblock %}

{% block content %}

{% include '../partials/_navbar.html' %}

<!-- Section A: Gallery -->

<section id="work-a" class="text-center py-3">
    <div class="container">
        <h2 class="section-title">
            My Work
        </h2>
        <div class="bottom-line"></div>
        <p class="lead">Check out some of my projects</p>
        <!-- All Items -->
        <div class="items">
            <!-- Single Item -->
            <!-- {% for work in works %}
                <div class="item">
                    <div class="item-image">
                        <img src="{{ work.photo_main.url }}" alt="item-1">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <p class="item-text-category">
                              
                                {{ work.category }}
                            </p>
                            <h2 class="item-text-title">
                              
                                {{ work.title }}
                            </h2>
                        </div>
                    </div>
                </div> -->
            <!-- {% endfor %} -->
            <div class="item">
                <div class="item-image">
                    <img src="{% static 'img/items/edgeledger.PNG' %}" alt="item-1">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <p class="item-text-category">
                          
                            Website
                        </p>
                        <h2 class="item-text-title">
                          
                            Edge Ledger
                        </h2>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="{% static 'img/items/covid-1.png' %}" alt="item-1">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <p class="item-text-category">
                          
                            Website
                        </p>
                        <h2 class="item-text-title">
                          
                            Covid Beds
                        </h2>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="{% static 'img/items/realestate.PNG' %}" alt="item-1">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <p class="item-text-category">
                          
                            Website
                        </p>
                        <h2 class="item-text-title">
                          
                            Real Estate
                        </h2>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="{% static 'img/items/blog.png' %}" alt="item-1">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <p class="item-text-category">
                          
                            Website
                        </p>
                        <h2 class="item-text-title">
                          
                            Blog
                        </h2>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="{% static 'img/items/portfolio.PNG' %}" alt="item-1">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <p class="item-text-category">
                          
                            Website
                        </p>
                        <h2 class="item-text-title">
                          
                            Portfolio
                        </h2>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="item-image">
                    <img src="{% static 'img/items/Hotel.PNG' %}" alt="item-1">
                </div>
                <div class="item-text">
                    <div class="item-text-wrap">
                        <p class="item-text-category">
                          
                            Website
                        </p>
                        <h2 class="item-text-title">
                          
                            Hotel Karthi
                        </h2>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>


{% endblock %}
