{% extends 'base.html' %}

{% load static %}

{% block title %}
    My Work
{% endblock %}

{% block content %}

{% include '../partials/_navbar.html' %}

<!-- Section A: Gallery -->

<section id="work-a" class="text-center py-3">
    <div class="container">
        <h2 class="section-title">
            My Work
        </h2>
        <div class="bottom-line"></div>
        <p class="lead">Check out some of my projects</p>
        <!-- All Items -->
        <div class="items">
            <!-- Single Item -->
            {% for work in works %}
                <div class="item">
                    <div class="item-image">
                        <img src="{{ work.photo_main.url }}" alt="item-1">
                    </div>
                    <div class="item-text">
                        <div class="item-text-wrap">
                            <p class="item-text-category">
                              
                                {{ work.category }}
                            </p>
                            <h2 class="item-text-title">
                              
                                {{ work.title }}
                            </h2>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}
